:root {
	/* Variables */
	--spaceLyt: 10px;
	--tightSpaceLyt: calc(var(--spaceLyt) / 2);
	--looseSpaceLyt: calc(var(--spaceLyt) * 3);

	/* Palette */
	--black:	rgb(50,  50,  50);
	--white:	white;
	--whiteHvr:	rgb(220, 220, 220);
	--grey:		rgb(128, 128, 128);
	--greyHvr:	rgb(100, 100, 100);
	--red:		rgb(211, 47,  47);
	--redHvr:	rgb(169, 25,  25);
	--blue:		rgb(0,	 116, 217);
	--blueHvr:	rgb(170, 170, 170);
	--green:	rgb(76,  175, 80);
	--greenHvr: rgb(54,  127, 58);
	--gold:		rgb(247, 187, 75);
	--goldHvr:	rgb(180, 130, 50);
}

button {
	border: none;
	border-radius: var(--tightSpaceLyt);
	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}



/*>--------------- { Popup } ---------------<*/
#bgPopup {
	position: absolute;
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgb(65, 65, 65, 0.65);
	animation: fade-in .3s ease forwards;
}

#bgPopup div {
	position: absolute;
	text-align: center;
	padding: var(--looseSpaceLyt);
	background-color: var(--whiteHvr);
	border-radius: var(--spaceLyt);
	animation: zoom-in .3s ease forwards;
}

.delMapPopup button {
	padding: var(--spaceLyt) var(--looseSpaceLyt);
	margin: var(--looseSpaceLyt);
	margin-bottom: 0;
	font-size: 1rem;
	color: var(--white);
	transition: background-color .3s ease;
}

.delMapPopup button:nth-child(1) {
	background-color: var(--red);
}
	.delMapPopup button:nth-child(1):hover {
		background-color: var(--redHvr);
	}

.delMapPopup button:nth-child(2) {
	background-color: var(--grey);
}
	.delMapPopup button:nth-child(2):hover {
		background-color: var(--greyHvr);
	}



/*>--------------- { Banner } ---------------<*/
header {
	display: flex;
	z-index: 1000;
	padding: var(--tightSpaceLyt) var(--spaceLyt);
	justify-content: space-between;
	background-color: var(--black);
}

header > h1 {
	color: var(--white);
}

header > span {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

header button {
	margin: var(--tightSpaceLyt);
	padding-inline: var(--spaceLyt);
	color: var(--white);
	background-color: var(--green);
	transition: background-color .3s ease;
}
	header button:hover {
		background-color: var(--greenHvr);
	}

header iconify-icon {
	margin: var(--tightSpaceLyt);
	cursor: pointer;
	font-size: 1.65rem;
	color: var(--gold);
	transition: color .3s ease;
}
	header iconify-icon:hover {
		color: var(--goldHvr);
	}



/*>--------------- { Main } ---------------<*/
main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: var(--spaceLyt);
}

main > div {
	position: absolute;
	z-index: 200;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spaceLyt);
}

main > span {
	z-index: 100;
	height: 100%;
	width: 100%;
}



/*>--------------- { Dinamic Class } ---------------<*/
.hide {
	display: none !important;
}



/*>--------------- { Animations } ---------------<*/
@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes zoom-in {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}