/*>--------------- { DeleteBtn } ---------------<*/
.delMap {
    padding: var(--tightSpaceLyt);
    font-size: .8rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    transition: background-color .3s ease;
}
    .delMap:hover {
        background-color: var(--redHvr);
    }



/*>--------------- { Control Container } ---------------<*/
.leaflet-top,
.leaflet-bottom,
.leaflet-left,
.leaflet-right{
    inset: unset;
}
.leaflet-left .leaflet-control,
.leaflet-right .leaflet-control{
    margin: unset;
}

.leaflet-content {
    position: absolute;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "side top"
        "side bottom";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
    .leaflet-content.leaflet-right {
        direction: rtl;
    }
    .leaflet-content.leaflet-right > * {
        direction: ltr;
    }

.leaflet-top {
    grid-area: top;
    align-self: start;
}
.leaflet-bottom {
    grid-area: bottom;
    align-self: end;
}
.leaflet-side {
    grid-area: side;
    display: flex;
    flex-direction: column;
    height: inherit;
}
.leaflet-side:has(> .leaflet-sidebar) {
    width: 100%;
    gap: var(--spaceLyt);
    --borderSidebar: 2px solid rgba(0, 0, 0, .2);
    --widthSidebar: 35px;
}

@media (min-width: 800px) {
    .leaflet-content {
        padding: var(--spaceLyt);
        gap: var(--spaceLyt);
    }
    .leaflet-side:has(> .leaflet-sidebar):not(:has(.collapsed)){
        width: 40vw;
        max-width: 550px;
    }
}
@media (max-width: 799px) {
    .leaflet-content:has(.leaflet-sidebar):not(:has(.collapsed)) {
        grid-template-columns: 1fr 0fr;
    }
}

/*>---------- [ Search Btn (TODO) ] ----------<*/
.leaflet-control-search {
    border: var(--borderSidebar);
    background-color: var(--white);
}

.leaflet-control-search .search-input {
    display: block;
    float: left;
    background: var(--white);
    border: 1px solid #666;
    border-radius: 2px;
    width: 100%;
    height: 22px;
    padding: 0 20px 0 2px;
    margin: 4px 0 4px 4px
}

.leaflet-control-search.search-load .search-input {
    background: url('../images/loader.gif') no-repeat center right #fff
}

.leaflet-control-search.search-load .search-cancel {
    visibility: hidden
}

    .leaflet-control-search .search-cancel {
        display: block;
        width: 22px;
        height: 22px;
        position: absolute;
        right: 28px;
        margin: 6px 0;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Im0xMiAxMy40bDIuOSAyLjlxLjI3NS4yNzUuNy4yNzV0LjctLjI3NXQuMjc1LS43dC0uMjc1LS43TDEzLjQgMTJsMi45LTIuOXEuMjc1LS4yNzUuMjc1LS43dC0uMjc1LS43dC0uNy0uMjc1dC0uNy4yNzVMMTIgMTAuNkw5LjEgNy43cS0uMjc1LS4yNzUtLjctLjI3NXQtLjcuMjc1dC0uMjc1Ljd0LjI3NS43bDIuOSAyLjlsLTIuOSAyLjlxLS4yNzUuMjc1LS4yNzUuN3QuMjc1Ljd0LjcuMjc1dC43LS4yNzV6bTAgOC42cS0yLjA3NSAwLTMuOS0uNzg4dC0zLjE3NS0yLjEzN1QyLjc4OCAxNS45VDIgMTJ0Ljc4OC0zLjl0Mi4xMzctMy4xNzVUOC4xIDIuNzg4VDEyIDJ0My45Ljc4OHQzLjE3NSAyLjEzN1QyMS4yMTMgOC4xVDIyIDEydC0uNzg4IDMuOXQtMi4xMzcgMy4xNzV0LTMuMTc1IDIuMTM4VDEyIDIyIi8+PC9zdmc+) no-repeat 0 -46px;
        text-decoration: none;
        opacity: .8
    }
    .leaflet-control-search .search-cancel:hover {
        opacity: 1
    }

    .leaflet-control-search .search-cancel span {
        display: none;
        font-size: 18px;
        line-height: 20px;
        color: #ccc;
        font-weight: 700
    }

    .leaflet-control-search .search-cancel:hover span {
        color: #aaa
    }

.leaflet-control-search .search-button {
    float: left;
    width: var(--widthSidebar);
    aspect-ratio: 1 / 1;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik05LjUgMTZxLTIuNzI1IDAtNC42MTItMS44ODhUMyA5LjV0MS44ODgtNC42MTJUOS41IDN0NC42MTMgMS44ODhUMTYgOS41cTAgMS4xLS4zNSAyLjA3NVQxNC43IDEzLjNsNS42IDUuNnEuMjc1LjI3NS4yNzUuN3QtLjI3NS43dC0uNy4yNzV0LS43LS4yNzVsLTUuNi01LjZxLS43NS42LTEuNzI1Ljk1VDkuNSAxNm0wLTJxMS44NzUgMCAzLjE4OC0xLjMxMlQxNCA5LjV0LTEuMzEyLTMuMTg3VDkuNSA1VDYuMzEzIDYuMzEzVDUgOS41dDEuMzEzIDMuMTg4VDkuNSAxNCIvPjwvc3ZnPg==) no-repeat 5px #fff;
}
    .leaflet-control-search .search-button:hover {
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjOTM5MzkzIiBkPSJNOS41IDE2cS0yLjcyNSAwLTQuNjEyLTEuODg4VDMgOS41dDEuODg4LTQuNjEyVDkuNSAzdDQuNjEzIDEuODg4VDE2IDkuNXEwIDEuMS0uMzUgMi4wNzVUMTQuNyAxMy4zbDUuNiA1LjZxLjI3NS4yNzUuMjc1Ljd0LS4yNzUuN3QtLjcuMjc1dC0uNy0uMjc1bC01LjYtNS42cS0uNzUuNi0xLjcyNS45NVQ5LjUgMTZtMC0ycTEuODc1IDAgMy4xODgtMS4zMTJUMTQgOS41dC0xLjMxMi0zLjE4N1Q5LjUgNVQ2LjMxMyA2LjMxM1Q1IDkuNXQxLjMxMyAzLjE4OFQ5LjUgMTQiLz48L3N2Zz4=) no-repeat 5px #fafafa
    }

.leaflet-control-search .search-tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    float: left;
    list-style: none;
    padding-left: 0;
    min-width: 120px;
    max-height: 122px;
    box-shadow: 1px 1px 6px rgba(0,0,0,.4);
    background-color: rgba(0,0,0,.25);
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer
}

.leaflet-control-search .search-tip {
    margin: 2px;
    padding: 2px 4px;
    display: block;
    color: #000;
    background: #eee;
    border-radius: .25em;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: center;
}

.leaflet-control-search .search-button:hover {
    background-color: #f4f4f4
}

.leaflet-control-search .search-tip-select, .leaflet-control-search .search-tip:hover {
    background-color: #fff
}

.leaflet-control-search .search-alert {
    cursor: pointer;
    clear: both;
    font-size: .75em;
    margin-bottom: 5px;
    padding: 0 .25em;
    color: #e00;
    font-weight: 700;
    border-radius: .25em
}

/*>---------- [ SideBar ] ----------<*/
.leaflet-sidebar {
    flex: 1;
    display: flex;
}
.leaflet-sidebar-sideleft {
    flex-direction: row;
}
.leaflet-sidebar-sideright {
    flex-direction: row-reverse;
}
    .leaflet-sidebar-sideright > .leaflet-sidebar-content,
    .leaflet-sidebar-sideleft > .leaflet-sidebar-tabs {
        border: var(--borderSidebar);
        border-right: 0;
    }
    .leaflet-sidebar-sideleft > .leaflet-sidebar-content,
    .leaflet-sidebar-sideright > .leaflet-sidebar-tabs {
        border: var(--borderSidebar);
        border-left: 0;
    }

.leaflet-sidebar-tabs {
    width: var(--widthSidebar);
    height: inherit;
    color: var(--black);
    background-color: var(--white);
    overflow: hidden;
    z-index: 1000;
}
.leaflet-sidebar-tabs > nav:last-child {
    bottom: 0;
}
.leaflet-sidebar-tabs > nav {
    display: flex;
    flex-direction: column;
}
.leaflet-sidebar-tabs > nav > a {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    font-size: 15px;
    color: inherit;
    cursor: pointer;
    transition: all .3s;
}
    .leaflet-sidebar-tabs > nav > a:hover {
        color: var(--white);
        background-color: var(--grey);
    }
    .leaflet-sidebar-tabs > nav > a.active {
        color: var(--white);
        background-color: var(--black);
    }
    .leaflet-sidebar-tabs > nav > a.disabled {
        color: var(--red);
        cursor: default;
    }
    .leaflet-sidebar-tabs > nav > a.disabled:hover {
        background-color: var(--redHvr);
    }

.leaflet-sidebar-content {
    flex: 1;
    height: inherit;
    background-color: var(--white);
    overflow: hidden;
    z-index: 900;
}
.leaflet-sidebar-panel {
    display: flex;
    flex-direction: column;
    margin: var(--spaceLyt);
}
    .leaflet-sidebar-content.collapsed,
    .leaflet-sidebar-panel:not(.active) {
        display: none;
    }
.leaflet-sidebar-header {
    position: sticky;
    margin: calc(-1 * var(--spaceLyt));
    padding-inline: var(--spaceLyt);
    height: var(--widthSidebar);
    line-height: var(--widthSidebar);
    font-size: 1.3rem;
    color: var(--white);
    background-color: var(--black);
}

.leaflet-sidebar-close {
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    text-align: center;
    cursor: pointer;
}