/*>--------------- { DeleteBtn } ---------------<*/
.delMap {
    padding: var(--tightSpaceLyt);
    font-size: .8rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    transition: background-color .3s ease;
}
    .delMap:hover {
        background-color: var(--redHvr);
    }



/*>--------------- { Column Control } ---------------<*/
.leaflet-right:not(.leaflet-bottom):not(.leaflet-top),
.leaflet-left:not(.leaflet-bottom):not(.leaflet-top) {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: var(--spaceLyt);
    z-index: 1000;
    pointer-events: none;
    --widthSidebar: 40px;
}
    @media (min-width: 800px) {
        .leaflet-right:not(.leaflet-bottom):not(.leaflet-top),
        .leaflet-left:not(.leaflet-bottom):not(.leaflet-top) {
            width: 40vw;
            max-width: 550px;
            margin-inline: var(--spaceLyt);
        }
    }
.leaflet-right:not(.leaflet-bottom):not(.leaflet-top) .leaflet-control,
.leaflet-left:not(.leaflet-bottom):not(.leaflet-top) .leaflet-control {
    margin-inline: 0;
}

/*>---------- [ Search Btn ] ----------<*/
/*.leaflet-container .leaflet-control-search {
    position: relative;
    float: left;
    background: #fff;
    color: #1978cf;
    border: 2px solid rgba(0,0,0,.2);
    background-clip: padding-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.8);
    z-index: 1000;
    margin-left: 10px;
    margin-top: 10px
}

.leaflet-control-search.search-exp {
    background: #fff;
    border: 2px solid rgba(0,0,0,.2);
    background-clip: padding-box
}

.leaflet-control-search .search-input {
    display: block;
    float: left;
    background: #fff;
    border: 1px solid #666;
    border-radius: 2px;
    height: 22px;
    padding: 0 20px 0 2px;
    margin: 4px 0 4px 4px
}

.leaflet-control-search.search-load .search-input {
    background: url('../images/loader.gif') no-repeat center right #fff
}

.leaflet-control-search.search-load .search-cancel {
    visibility: hidden
}

.leaflet-control-search .search-cancel {
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 28px;
    margin: 6px 0;
    background: url('../images/search-icon.png') no-repeat 0 -46px;
    text-decoration: none;
    opacity: .8
}

    .leaflet-control-search .search-cancel:hover {
        opacity: 1
    }

    .leaflet-control-search .search-cancel span {
        display: none;
        font-size: 18px;
        line-height: 20px;
        color: #ccc;
        font-weight: 700
    }

    .leaflet-control-search .search-cancel:hover span {
        color: #aaa
    }

.leaflet-control-search .search-button {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16m0-2q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E") no-repeat 4px 4px #fff;
    border-radius: 4px
}

    .leaflet-control-search .search-button:hover {
        background: url('../images/search-icon.png') no-repeat #fafafa
    }

.leaflet-control-search .search-tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    float: left;
    list-style: none;
    padding-left: 0;
    min-width: 120px;
    max-height: 122px;
    box-shadow: 1px 1px 6px rgba(0,0,0,.4);
    background-color: rgba(0,0,0,.25);
    z-index: 1010;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer
}

.leaflet-control-search .search-tip {
    margin: 2px;
    padding: 2px 4px;
    display: block;
    color: #000;
    background: #eee;
    border-radius: .25em;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: center
}

.leaflet-control-search .search-button:hover {
    background-color: #f4f4f4
}

.leaflet-control-search .search-tip-select, .leaflet-control-search .search-tip:hover {
    background-color: #fff
}

.leaflet-control-search .search-alert {
    cursor: pointer;
    clear: both;
    font-size: .75em;
    margin-bottom: 5px;
    padding: 0 .25em;
    color: #e00;
    font-weight: 700;
    border-radius: .25em
}*/

/*>---------- [ SideBar ] ----------<*/
.leaflet-sidebar {
    flex: 1;
    display: flex;
    flex-direction: row;
    --borderSidebar: 2px solid rgba(0, 0, 0, .2);
}
    @media (min-width: 800px) {
        .leaflet-sidebar{
            margin-bottom: var(--spaceLyt);
        }
    }

.leaflet-sidebar-tabs {
    width: var(--widthSidebar);
    height: inherit;
    border: var(--borderSidebar);
    border-right: 0;
    color: var(--black);
    background-color: var(--white);
    z-index: 1500;
}
.leaflet-sidebar-tabs > nav:last-child {
    bottom: 0;
}
.leaflet-sidebar-tabs > nav {
    display: flex;
    flex-direction: column;
}
.leaflet-sidebar-tabs > nav > a {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    font-size: 15px;
    color: inherit;
    cursor: pointer;
    transition: all .3s;
}
    .leaflet-sidebar-tabs > nav > a:hover {
        color: var(--white);
        background-color: var(--grey);
    }
    .leaflet-sidebar-tabs > nav > a.active {
        color: var(--white);
        background-color: var(--black);
    }
    .leaflet-sidebar-tabs > nav > a.disabled {
        color: var(--red);
        cursor: default;
    }
    .leaflet-sidebar-tabs > nav > a.disabled:hover {
        background-color: var(--redHvr);
    }

.leaflet-sidebar-content {
    flex: 1;
    height: inherit;
    border: var(--borderSidebar);
    border-left: 0;
    background-color: var(--white);
    overflow: hidden;
    transition: flex .3s ease;
    z-index: 1200;
}
    .leaflet-sidebar-content.collapsed {
        flex: 0;
    }
.leaflet-sidebar-panel {
    display: flex;
    flex-direction: column;
    margin: var(--spaceLyt);
}
    .leaflet-sidebar-panel:not(.active) {
        display: none;
    }
.leaflet-sidebar-header {
    position: sticky;
    margin: calc(-1 * var(--spaceLyt));
    padding-inline: var(--spaceLyt);
    height: var(--widthSidebar);
    line-height: var(--widthSidebar);
    font-size: 1.3rem;
    color: var(--white);
    background-color: var(--black);
}

.leaflet-sidebar-close {
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    text-align: center;
    cursor: pointer;
}