.leaflet-container {
    height: 100%;
    z-index: 200;
}

/*>---------- [ Corner Ctrl ] ----------<*/
.clearBtn {
    padding: 0.5rem;
    font-size: 0.81rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    transition: background-color 0.3s ease;
}
    .clearBtn:hover {
        background-color: var(--redHover);
    }

/*>--------------- { Search Btn } ---------------<*/
#sideColumn {
    --layoutSpacing: 0.6rem;
    --searchBtnDim: 2.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.leaflet-control-search {
    width: var(--searchBtnDim);
}
@media (max-width: 767px) {
    .leaflet-control-search {
        margin-left: 0rem !important;
        border-left: none !important;
    }
        .leaflet-control-search.search-exp {
            width: 100%;
        }
}
@media (min-width: 768px) {
    .leaflet-control-search.search-exp {
        width: 40%;
        max-width: 30rem;
    }
}
.leaflet-control-search .search-input {
    width: calc(100% - (var(--searchBtnDim) * 2.1));
    padding-right: 2.12rem;
}

.leaflet-control-search .search-button {
    height: var(--searchBtnDim);
    width: var(--searchBtnDim);
    background-size: 1.7rem !important;
    background-position: center 0.35rem !important;
}
    .leaflet-control-search .search-button:hover {
        background-position-y: -1.7rem !important;
    }

/*>--------------- { SideBar } ---------------<*/
.leaflet-sidebar {
    flex: 1;
    position: relative;
    border-top: 2px solid rgba(0, 0, 0, .2);
}
@media (min-width: 768px) {
    .leaflet-sidebar {
        max-width: 30rem;
        margin-bottom: 20px;
    }
    .leaflet-sidebar:not(.collapsed) {
        width: 40%;
    }
    .leaflet-sidebar-pane {
        min-width: 0rem;
    }
}

.leaflet-sidebar-content {
    background-color: rgba(255,255,255,1) !important;
}

.leaflet-sidebar-pane {
    padding-inline: var(--layoutSpacing) !important;
}
    .leaflet-sidebar-pane.active {
        display: flex !important;
        flex-direction: column;
        height: 100%;
    }

.leaflet-sidebar-header {
    margin-bottom: var(--layoutSpacing) !important;
}

.leaflet-sidebar-tabs>ul>li {
    font-size: 1.34rem !important;
}

/*>---------- [ Text Panel ] ----------<*/
.info-panel textarea {
    flex: 1;
    width: 100%;
    padding: 0.62rem;
    resize: none;
}

.info-panel > div {
    flex: 4;
    overflow-y: auto;
    word-wrap: break-word;
    text-align: justify;
    font-size: 0.9rem;
}
    .info-panel > div h1 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .info-panel > div h2 {
        font-size: 1.25rem;
        margin-top: 0.75rem;
    }
    .info-panel > div p {
        margin: 0.5rem 0;
    }
    .info-panel > div code {
        background-color: #eee;
        padding: 0.12rem 0.25rem;
        border-radius: 0.78rem;
    }
    .info-panel > div pre {
        background-color: #eee;
        padding: 0.62rem;
        border-radius: 5px;
        overflow-x: auto;
    }
    .info-panel > div a {
        color: var(--blue);
        text-decoration: underline;
    }

/*>---------- [ Spot Index ] ----------<*/
#customIcon {
    display: flex;
    margin-bottom: var(--layoutSpacing);
    font-size: 0.9rem;
}

#customIcon > figure {
    flex: 3;
    text-align: center;
    border: 1px solid #ccc;
    background-color: var(--white);
    font-weight: bold;
}

#customIcon > g {
    flex: 7;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: calc(var(--layoutSpacing) * 1.5);
    margin-right: 0rem;
    justify-content: space-between;
}
#nameMarker {
    height: 1.7rem;
}
#customIcon p {
    display: flex;
    justify-content: space-between;
    margin-inline: var(--layoutSpacing);
}
#customIcon input[type="color"] {
    width: 55%;
}


#dropdownIcon {
    position: absolute;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--white);
    overflow: hidden;
    z-index: 300;
}
#dropdownIcon > input[type="text"] {
    padding: var(--layoutSpacing);
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
#dropdownIcon > g {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(3.4rem, 1fr));
    gap: var(--layoutSpacing);
    padding: var(--layoutSpacing);
    overflow-y: auto;
    max-height: 15.5rem;
}
#dropdownIcon > g figure {
    border: 2px solid transparent;
}



#indexEntry {
    overflow-y: auto;
}

.markerEntry {
    width: 100%;
    display: flex;
    opacity: 0;
    animation: fade-in 0.3s ease forwards;
    margin-block: var(--layoutSpacing);
    font-size: 1.1rem;
    max-height: 4.9rem;
}
.markerEntry > input[type="checkbox"] {
    margin-inline: var(--layoutSpacing);
    width: 1rem;
}
.markerEntry > figure {
    display: flex;
    flex: 1;
    padding-block: var(--layoutSpacing);
    border: 2px solid transparent;
}
    #dropdownIcon > div figure:hover,
    .markerEntry > figure:hover {
        border-color: var(--blueHover);
    }
    .markerEntry.active > figure {
        border-color: var(--blue);
    }
.markerEntry > figure > figcaption {
    align-content: center;
}
.markerEntry > button {
    background: none;
    font-size: inherit;
    color: var(--red);
    padding-inline: var(--layoutSpacing);
}
    .markerEntry > i:hover {
        color: var(--redHover);
    }

#btnEntry {
    width: 100%;
    font-size: 1.5rem;
    background: none;
    border: 0.13rem dashed #4c4c4c;
    border-radius: 0px;
    transition: border-color 0.3s ease;
    margin-top: var(--layoutSpacing);
}
    #btnEntry:hover {
        border-color: var(--blue);
    }
#btnEntry > i {
    margin-block: var(--layoutSpacing);
    transition: color 0.3s ease;
}
    #btnEntry:hover > i {
        color: var(--blue);
    }

/*>--------------- { Animations } ---------------<*/
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}