.leaflet-container {
    height: 100%;
    z-index: 200;
}

/*>---------- [ Corner Ctrl ] ----------<*/
.clearBtn {
    padding: 0.5rem;
    font-size: 0.81rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #D32F2F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    .clearBtn:hover {
        background-color: #B71C1C;
    }

/*>--------------- { Search Btn } ---------------<*/
.leaflet-control-search {
    --btnDim: 2.5rem;
}
@media (max-width: 767px) {
    .leaflet-control-search {
        margin-left: 0rem !important;
        border-left: none !important;
    }
        .leaflet-control-search.search-exp {
            width: 100%;
        }
}
@media (min-width: 768px) {
    .leaflet-control-search.search-exp {
        width: 40%;
        max-width: 30rem;
    }
}
.leaflet-control-search .search-input {
    width: calc(100% - (var(--btnDim) * 2.1));
    padding-right: 2.12rem;
}

.leaflet-control-search .search-button {
    height: var(--btnDim);
    width: var(--btnDim);
    background-size: 1.7rem !important;
    background-position: center 0.35rem !important;
}
    .leaflet-control-search .search-button:hover {
        background-position-y: -1.7rem !important;
    }

/*>--------------- { SideBar } ---------------<*/
.leaflet-sidebar {
    top: 3.94rem !important;
}
@media (min-width: 768px) {
    .leaflet-sidebar {
        max-width: 30rem !important;
    }
    .leaflet-sidebar:not(.collapsed) {
        width: 40% !important;
        transition: none !important;
    }
    .leaflet-sidebar-pane {
        min-width: 0rem !important;
    }
}

.leaflet-sidebar-left.leaflet-touch {
    border-top: 2px solid rgba(0, 0, 0, .2);
}

.leaflet-sidebar-pane {
    --paddingPane: 0.6rem;
    padding-left: var(--paddingPane) !important;
    padding-right: var(--paddingPane) !important;
}

.leaflet-sidebar-header {
    margin-bottom: var(--paddingPane) !important;
}

.leaflet-sidebar-tabs>ul>li {
    font-size: 1.34rem !important;
}

/*>---------- [ Text Panel ] ----------<*/
.md-panel.active{
    display: flex !important;
    flex-direction: column;
    height: 100%;
}

.md-panel textarea {
    flex: 1;
    width: 100%;
    padding: 0.62rem;
    resize: none;
}

.md-panel > div {
    flex: 4;
    overflow-y: auto;
    word-wrap: break-word;
    text-align: justify;
    font-size: 0.9rem;
    background-color: #f9f9f9;
    border-top: 0.06rem solid #ddd;
}
    .md-panel > div h1 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .md-panel > div h2 {
        font-size: 1.25rem;
        margin-top: 0.75rem;
    }
    .md-panel > div p {
        margin: 0.5rem 0;
    }
    .md-panel > div code {
        background-color: #eee;
        padding: 0.12rem 0.25rem;
        border-radius: 0.78rem;
    }
    .md-panel > div pre {
        background-color: #eee;
        padding: 0.62rem;
        border-radius: 5px;
        overflow-x: auto;
    }
    .md-panel > div a {
        color: blue;
        text-decoration: underline;
    }

/*>---------- [ Spot Index ] ----------<*/
#iconDropdown {
    position: relative;
    width: 40%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

#iconDropdown > figure {
    font-size: 1rem;
    font-weight: bold;
}

#iconDropdown > div {
    position: absolute;
    top: 100%;
    left: 0;
    width: 252%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 300;
}

#iconDropdown > div > input[type="text"] {
    padding: var(--paddingPane);
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

#iconGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3.4rem, 1fr));
    gap: var(--paddingPane);
    padding: var(--paddingPane);
    overflow-y: auto;
    max-height: 15.5rem;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}
    .icon-item:hover {
        background-color: #f0f0f0;
        border-radius: 5px;
    }
    .icon-item svg {
        width: 24px;
        height: 24px;
        margin-bottom: 5px;
    }
    .icon-item span {
        font-size: 12px;
        color: #555;
        text-align: center;
    }

.marker-panel button{

}

.marker-panel input[type="text"] {
}

.marker-panel input[type="color"] {
}

#newMarker {
    --hoverColor: #0074d9;
    width: 100%;
    height: 3.12rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: 0.13rem dashed #4c4c4c;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
    #newMarker:hover {
        border-color: var(--hoverColor);
    }
#newMarker i {
    pointer-events: none;
    transition: color 0.3s ease;
}
    #newMarker:hover i {
        color: var(--hoverColor);
    }

/* Spot Btn */
.markerEntry {
    width: 100%;
    height: 3.12rem;
    background-color: transparent;
    /*    border: 2px dashed #007bff;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: fade-in 0.3s ease forwards;
    margin-bottom: var(--paddingPane);
}

/*>--------------- { Animations } ---------------<*/
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}