#mapRender {
    height: 100%;
    z-index: 200;
}

.customControl {
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #D32F2F;
    transition: background-color 0.3s ease;
}
    .customControl:hover {
        background-color: #B71C1C;
    }