* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}



header {
    flex-shrink: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    padding: 0.6rem 1.2rem;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 0.8rem;
    background-color: #333;
}

#shareBtn {
    padding: 0.5rem 0.6rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 0.93rem;
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
}
#shareBtn:hover {
    background-color: #45a049;
}



main {
    flex-grow: 1;
    margin: 1.3rem;
}



#mapRender {
    height: 100%;
    z-index: 100;
    display: none;
}



#imgInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50; 
    width: 100%; 
    text-align: center;
}

#imgInput h2 {
    margin-bottom: 1rem;
}

#imgInput input {
    margin: 0.3rem;
    padding: 0.62rem;
    font-size: 1rem;
    width: calc(200px + 15%);
}

#loadImgBtn {
    margin-top: 0.62rem;
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 0.62rem 0.93rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
}
#loadImgBtn:hover {
    background-color: #27ae60;
}