.leaflet-container {
    height: 100%;
    z-index: 200;
}

/*>---------- [ Corner Ctrl ] ----------<*/
.clearBtn {
    padding: 0.5rem;
    font-size: 0.81rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #D32F2F;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    .clearBtn:hover {
        background-color: #B71C1C;
    }

/*>--------------- { Search Btn } ---------------<*/
.leaflet-control-search .search-input {
    width: 24.53rem;
}

.leaflet-control-search .search-button {
    --btnDim: 2.5rem;
    height: var(--btnDim) !important;
    width: var(--btnDim) !important;
    background-size: 1.7rem !important;
    background-position: center 0.35rem !important;
}
    .leaflet-control-search .search-button:hover {
        background-position-y: -1.7rem !important;
    }

/*>--------------- { SideBar } ---------------<*/
.leaflet-sidebar {
    top: 3.87rem !important;
}

.leaflet-sidebar-pane {
    --distPadding: 0.6rem;
    padding-left: var(--distPadding) !important;
    padding-right: var(--distPadding) !important;
}

.leaflet-sidebar-header {
    margin-bottom: var(--distPadding) !important;
}

.leaflet-sidebar-tabs>ul>li {
    font-size: 1.34rem !important;
}

/*>---------- [ Text Panel ] ----------<*/
.md-panel.active{
    display: flex !important;
    flex-direction: column;
    height: 100%;
}

.md-editor {
    flex: 1;
    width: 100%;
    padding: 0.62rem;
    resize: none;
}

.md-preview {
    flex: 4;
    overflow-y: scroll;
    word-wrap: break-word;
    text-align: justify;
    font-size: 1rem;
    background-color: #f9f9f9;
    border-top: 0.06rem solid #ddd;
}
    .md-preview h1 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .md-preview h2 {
        font-size: 1.25rem;
        margin-top: 0.75rem;
    }
    .md-preview p {
        margin: 0.5rem 0;
    }
    .md-preview code {
        background-color: #eee;
        padding: 0.12rem 0.25rem;
        border-radius: 0.78rem;
    }
    .md-preview pre {
        background-color: #eee;
        padding: 0.62rem;
        border-radius: 0.31rem;
        overflow-x: auto;
    }
    .md-preview a {
        color: blue;
        text-decoration: underline;
    }

/*>---------- [ Spot Index ] ----------<*/
.newSpotBtn {
    --hoverColor: #0074d9;
    width: 100%;
    height: 3.12rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: 0.13rem dashed #4c4c4c;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
    .newSpotBtn:hover {
        border-color: var(--hoverColor);
    }
.newSpotBtn i {
    pointer-events: none;
    transition: color 0.3s ease;
}
    .newSpotBtn:hover i {
        color: var(--hoverColor);
    }

/* Spot Btn */
.new-div {
    width: 100%;
    height: 3.12rem;
    background-color: transparent;
    /*    border: 2px dashed #007bff;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: fade-in 0.3s ease forwards;
    margin-bottom: var(--distPadding);
}

/*>--------------- { Animations } ---------------<*/
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}