.bgPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 900;
    width: 100%;
    height: 100%;
    background-color: #80808080;
}

.loadMsg {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #dcdcdc;
    border-radius: 1rem;
    width: calc(15.6rem + 20%);
}
    .loadMsg h2 {
        margin-bottom: 0rem;
    }

.delLayer {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #dcdcdc;
    border-radius: 1rem;
    width: calc(15.6rem + 20%);
}

    .delLayer button {
        padding: 0.5rem 0.6rem;
        margin-inline: 0.5rem;
        border-radius: 0.3rem;
        cursor: pointer;
        border: none;
        color: white;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }
    #deleteBtn {
        background-color: #D32F2F;
    }
        #deleteBtn:hover {
            background-color: #B71C1C;
        }

    #cancelBtn {
        background-color: #808080;
    }
        #cancelBtn:hover {
            background-color: #666666;
        }